.guides {
    padding: 3% 2%;

    .row {
        padding: 55px 0;
        text-align: left;
    }

    .guide-traveller {
        margin-left: -50px;
        width: 599px;
        height: 542px;
    }

    .plus-icon {
        position: relative;
        transform: rotate(16deg);
        top: 500px;
        left: 485px;
    }

    .plus-rot-icon {
        position: relative;
        transform: rotate(7.49deg);
        top: 100px;
        left: 1170px;
    }

    .green-circle {
        position: relative;
        top: 155px;
        left: 65px;
    }

    h1 {
        font-family: $fontFair;
        font-style: $fontStylenormal;
        font-weight: bold;
        font-size: 36px;
        color: $black;
        line-height: 50px;

        padding: 145px 102px 20px 70px;
    }

    p {
        font-family: $fontMullish;
        font-style: $fontStylenormal;
        font-weight: 200;
        line-height: 30px;
        font-size: 17px;
        color: $greypara;

        padding: 0 115px 20px 70px;
    }

    .btn-exp {
        font-family: $fontInter;
        font-style: $fontStylenormal;
        font-weight: 600;
        font-size: 16px;
        border-radius: 8px;
        color: $white;
        background-color: $goldButton;
        padding: 11px 35px;

        margin: 5px 50px 20px 70px;
    }

    .btn-exp:hover {
        border-color: $goldButton;
        color: $goldButton;
        background-color: $white;
    }
}
