.head {
    padding: 3% 2%;

    .navbar {
        background: transparent;
        padding-bottom: 17px;
    }

    .logo {
        width: 43px;
    }

    .navbar-collapse {
        padding-right: 0px;
    }

    .nav-link {
        margin-right: 7px;
        font-family: $fontInter;
        font-style: $fontStylenormal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: $blueNav;
    }

    .btn-outline,
    .btn-reg {
        margin-right: 18px;
        border-radius: 8px;
        font-family: $fontInter;
        font-style: $fontStylenormal;
        font-weight: 500;
        font-size: 15px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .btn-outline {
        color: $goldButton;
        border-color: $goldButton;
        padding: 10px 49px;
    }

    .btn-outline:hover {
        color: $white;
        background-color: $goldButton;
        border-color: $goldButton;
    }

    .btn-reg {
        color: $white;
        background-color: $goldButton;
        padding: 10px 39px;
    }

    .btn-reg:hover {
        border-color: $goldButton;
        color: $goldButton;
        background-color: $white;
    }

    .plus-icon {
        position: relative;
        top: 16px;
        left: 40%;
    }

    .green-circle {
        position: relative;
        top: 620px;
        left: 50%;
    }


    // heading and picture
    .row {
        padding: 55px 0;
        text-align: left;

        .head-menu {
            padding: 0 20px;
        }
    }

    .heading-1 {
        font-family: $fontFair;
        font-style: $fontStylenormal;
        font-weight: bold;
        font-size: 64px;
        padding-top: 42px;
    }

    .dropdowns {
        padding-top: 6%;

        .d-flex {
            padding-top: 32px;
        }

        h2 {
            padding: 8px 0;
            font-family: $fontInter;
            font-style: $fontStylenormal;
            font-weight: 600;
            font-size: 22px;
        }

        hr {
            border: 1px solid $blueNav;
            border-radius: 4px;
            width: 9%;
            opacity: 1;
        }

        .two-group {
            margin-left: 30px;

            .input-holder {
                margin: 0;
                width: 171px;
                height: 52px;
            }
        }

        .fa {
            z-index: -1000;
            position: relative;
            left: 141px;
            bottom: 39px;
            font-size: 13px;
        }

        ::placeholder, 
        ::-webkit-input-placeholder {
            opacity: 1;
        }
    }   

    .drop {
        width: 170px;
        height: 52px;
        padding: 10px 31px;
        text-align: left;
        font-family: $fontInter;
        font-style: $fontStylenormal;
        font-weight: normal;
        font-size: 15px;
        border: 0.8px solid $grey;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 6px;
    }

    .drop-menu {
        padding-right: 29px;
        border: 0.8px solid $grey;
        border-left: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 6px;
    }

    .dropdown-toggle::after {
        display: none !important;
    }

    .btn-exp {
        font-family: $fontMullish;
        font-style: $fontStylenormal;
        font-weight: bold;
        font-size: 17px;
        margin-top: 48px;
        border-radius: 8px;
        color: $white;
        background-color: $goldButton;
        padding: 12px 59px;
    }

    .btn-exp:hover {
        border-color: $goldButton;
        color: $goldButton;
        background-color: $white;
    }

    .traveller {
        margin-left: 70px;
        width: 687px;
        height: 654px;
    }
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) {

    .head {

        .logo {
            margin-right: 50px;
        }

        .nav-link {
            margin-right: 8px;
            font-size: 15px;
        }

        .btn-outline,
        .btn-reg {
                margin-right: 8px;
                font-size: 14px;
        }

        .btn-outline {
                padding: 8px 39px;
        }

        .btn-reg {
                padding: 8px 29px;
        }

        .heading-1 {
                font-size: 54px;
        }

        .dropdowns {

            h2 {
                font-size: 19px;
            }
    
            .fa {
                left: 132px;
                bottom: 37px;
            }
        }

        .drop {
                width: 160px;
                height: 46px;
                font-size: 14px;
                padding: 8px 25px;
        }

        .drop-menu {
                padding-right: 19px;
        }

        .btn-exp {
                font-size: 15px;
                padding: 10px 50px;
        }

        // .traveller {
        //         margin-left: 40px;
        //         margin-top: 20px;
        //         width: 520px;
        //         height: 577px;
        // }
  }
}

  @media screen and (max-width: 992px) {

    .head {

    .navbar {
            padding-bottom: 0px;
    }

    .logo {
            margin-right: 40px;
    }

    .btn-outline {
            width: 200px;
            margin-bottom: 10px;
    }

    .btn-reg {
            width: 200px;
            margin-bottom: 10px;
    }

    .row {
            text-align: center;
            padding: 0;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
    }

    .heading-1 {
            padding-top: 12px;
            font-size: 44px;
    }

    .dropdowns {

            .btn-group {
                margin: auto;
            }

            hr {
                margin: auto;
            }

            .two-group {
                margin-left: 0;
            }

            .fa {
                left: 59px;
                bottom: 36px;
            }
        }

    .traveller {
            margin-left: 0px;
            margin-top: 0px;
            width: 450px;
            height: 477px;
    }

    .swap-b {
        -webkit-box-ordinal-group: 0 !important;
        -ms-flex-order: -1 !important;
        order: -1 !important;
    }

    .swap-h {
        -webkit-box-ordinal-group: 7 !important;
        -ms-flex-order: 6 !important;
        order: 6 !important;
    }
}
  }

  @media only screen and (max-width: 600px) {

    .head {

    .nav-link {
            margin-right: 0;
            font-size: 13px;
    }

    .btn-outline {
            width: 150px;
    }

    .btn-reg {
            width: 150px;
    }

    .heading-1 {
            padding-top: 0px;
            font-size: 39px;
    }

    .dropdowns {

        h2 {
            font-size: 18px;
            padding-top: 0;
        }

        .two-group {
            .input-holder {
            width: 120px;
            height: 40px;
            }
        }

        .fa {
            left: 37px;
            bottom: 33px;
        }
    }

    .drop {
            width: 120px;
            height: 40px;
            font-size: 14px;
            padding: 7px 15px;
    }

    .drop-menu {
            padding-right: 18px;
    }

    .btn-exp {
            font-size: 14px;
            padding: 9px 48px;
    }

    .traveller {
            margin-left: 0px;
            margin-top: 0px;
            width: 350px;
            height: 377px;
            padding: 0 15px;
    }
  }
}