.descrp {
    padding: 3% 2%;

    .row {
        padding: 55px 0;
        text-align: left;
    }
    
    .plus-icon {
        position: relative;
        -webkit-transform: rotate(7.49deg);
        transform: rotate(7.49deg);
        top: 45px;
        left: 640px;
    }

    .green-circle {
        position: relative;
        top: 445px;
        left: 1032px;
    }

    .balloon-traveller {
        margin-left: -50px;
        width: 659px;
        height: 534px;
    }

    h1 {
        font-family: $fontFair;
        font-style: $fontStylenormal;
        font-weight: bold;
        font-size: 36px;
        color: $black;
        line-height: 50px;

        padding: 95px 102px 20px 70px;
    }

    p {
        font-family: $fontMullish;
        font-style: $fontStylenormal;
        font-weight: 200;
        line-height: 30px;
        font-size: 17px;
        color: $greypara;

        padding: 0 115px 20px 70px;
    }

    .btn-exp {
        font-family: $fontInter;
        font-style: $fontStylenormal;
        font-weight: 600;
        font-size: 16px;
        border-radius: 8px;
        color: $white;
        background-color: $goldButton;
        padding: 11px 35px;

        margin: 5px 50px 20px 70px;
    }

    .btn-exp:hover {
        border-color: $goldButton;
        color: $goldButton;
        background-color: $white;
    }
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) {

    .descrp {

        .plus-icon {
                top: 85px;
                left: 440px;
        }

        .green-circle {
                top: 445px;
                left: 790px;
        }

        .balloon-traveller {
                margin-left: -20px;
                width: 540px;
                height: 500px;
        }

        h1 {
                font-size: 30px;
                padding: 95px 102px 0px 70px;
        }

        p {
                font-size: 16px;
                padding: 0 115px 0 70px;
        }

        .btn-exp {
                font-size: 15px;
                margin: 0px 50px 20px 70px;
                padding: 10px 31px;
        }
    }
  }

  @media screen and (max-width: 992px) {

    .descrp {

        .row {
                text-align: center;
                padding: 0;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
        }

        .plus-icon {
                top: 25px;
                left: 550px;
            }

        .green-circle {
                top: 445px;
                left: 350px;
        }

        .balloon-traveller {
                width: 450px;
                height: 407px;
        }

        h1 {
                font-size: 30px;
                padding: 25px 150px 0px 150px;
        }

        p {
                font-size: 15px;
                padding: 0 135px 0 135px;
        }

        .btn-exp {
                font-size: 15px;
                margin: 0px 50px 20px 50px;
                padding: 9px 29px;
        }

    }
  }

  @media only screen and (max-width: 600px) {

    .descrp {

        .plus-icon {
                top: 42px;
                left: 270px;
        }

        .green-circle {
                top: 360px;
                left: 200px;
        }

        .balloon-traveller {
                width: 350px;
                height: 377px;
                padding: 0 15px;       
        }

        h1 {
                font-size: 28px;
                padding: 5px 20px 0px 20px;
        }
        
        p {
                padding: 0 15px 0 15px;
                font-size: 14px;
                line-height: 25px;
        }

        .btn-exp {
                font-size: 14px;
                margin: 0px 30px 20px 30px;
                padding: 8px 27px;
        }
    }
  }